---
import type { CV } from "@/cv";
import CSS from "@/icons/css.astro";
import Figma from "@/icons/Figma.astro";
import Flutter from "@/icons/flutter.astro";
import Git from "@/icons/git.astro";
import GitHub from "@/icons/GitHub.astro";
import Gitlab from "@/icons/Gitlab.astro";
import HTML from "@/icons/html.astro";
import JavaScript from "@/icons/javascript.astro";
import Kotlin from "@/icons/kotlin.astro";
import Next from "@/icons/next.astro";
import Node from "@/icons/node.astro";
import React from "@/icons/react.astro";
import MySQL from "@/icons/sql.astro";
import Swift from "@/icons/swift.astro";
import SwiftUI from "@/icons/swiftui.astro";
import Tailwind from "@/icons/tailwind.astro";
import TypeScript from "@/icons/type.astro";
import { skillCategories as skillCategoriesData } from "@cv";
import Section from "../Section.astro";

const SKILLS_ICONS: Record<string, any> = {
	HTML,
	CSS,
	JavaScript,
	TypeScript,
	React,
	Node,
	MySQL,
	Git,
	GitHub,
	Next,
	Tailwind,
	Swift,
	SwiftUI,
	Kotlin,
	Flutter,
	Figma,
	Gitlab,
};

const skillCategories = skillCategoriesData as unknown as CV['skillCategories'];
---

<Section className={Astro.props.className} title="Skills">
	<ul class="flex flex-col gap-y-3">
		{
			skillCategories.map(({name: categoryName, skills}) => {
				return (
					<li class="flex flex-col gap-y-1 md:flex-row md:gap-x-8">
						<div class="sm:w-24 lg:w-48 flex-none text-skin-muted">{ categoryName }</div>
						<ul class="flex flex-wrap gap-x-1 gap-y-1">
						{
							skills.map(({name: skillName}) => {
								return (
										<li class="bg-skin-button-accent/5 border-skin-hue/20 text-skin-hue print:p-0 print:bg-transparent print:text-zinc-800 flex gap-1 items-center border-solid print:border-none border rounded-md px-2 py-0.5 text-xs">
											<span>{ skillName }</span>
										</li>
								)
							})
						}
						</ul>
					</li>
				)

			})
		}
	</ul>
</Section>
