---
import type { CV } from "@/cv";
import { basics } from "@cv";

const { repoUrl } = basics as unknown as CV['basics']
---

<div class="flex w-full max-w-7xl justify-center md:col-span-6 print:hidden">
	<a href={repoUrl} rel="noreferrer" target="_blank" class="group flex items-center space-x-1 text-xs">
		<span class="hover:decoration- flex gap-1 underline decoration-dotted underline-offset-4 transition group-hover:underline-offset-4">
			View Source Code
		</span>
	</a>
</div>
